body {
    width: 600px;
    margin: 0 auto;
}

img {
    margin: 0 50px;
}

div[data-edit='true'] {
    background-color: #eee;
    border: solid 1px black;
    white-space: pre;
    width: 600px;
    height: 300px;
}

ins[data-user-id='1'], del[data-user-id='1'] {
    color: red;
}
ins[data-user-id='2'], del[data-user-id='2'] {
    color: blue;
}
ins[data-user-id='3'], del[data-user-id='3'] {
    color: green;
}
ins[data-user-id='4'], del[data-user-id='4'] {
    color: orange;
}
